@model Shop.Models.Kindergartens.KindergartenImageViewModel

<form>
    <div class="row">
        <div class="col">
            <div style="display: none;">@Model.ImageTitle </div>
            <img class="image" src="@Model.Image" asp-append-version="true" />
        </div>
    </div>
</form>
