<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/default.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shop.styles.css" asp-append-version="true" />
</head>
<body>
    <div id="page-container">
    <div id="header-wrapper">
        <div id="header" class="container">
            <div id="logo">
                <h1><a asp-controller="Home" asp-action="Index">Shop</a></h1>
            </div>
            <div id="menu">
                <ul>
                    <li class="current_page_item"><a accesskey="1" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Spaceships" asp-action="Index">Spaceships</a></li>
                    <li><a asp-controller="RealEstates" asp-action="Index">Real Estates</a></li>
                    <li><a asp-controller="Kindergartens" asp-action="Index">Kindergarten</a></li>
                        <li><a asp-controller="AccuWeathers" asp-action="Index">Weather</a></li>
                        <li><a asp-controller="ChuckNorris" asp-action="Index">Chuck Norris</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <div id="footer" class="wrapper2">
        <div class="container">
            <section>
                <div class="container">
                    &copy; 2024 - Shop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </section>
        </div>
    </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
